<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
	<div th:each="dog: ${dogs}" class="card"
		style="width: 18rem; display: inline; float: left; margin: 10px">

		<div class="card-body">
			<h5 class="card-title" th:text="${dog.name}"></h5>
			<h6 class="card-subtitle mb-2 text-muted">C'est un chien virtuel. Ne croyez pas que c'est un vrai !</h6>
			<ul>
				<li>Nom : <span th:text="${dog.name}" /></li>
				<li>Race : <span th:text="${dog.breed}" /></li>
				<li>Age : <span th:text="${dog.age}" /></li>
				<li>A un maitre : <span th:text="${dog.isOwned}" /></li>
			</ul>
			<a href="#" class="card-link">Card link</a> <a href="#"
				class="card-link">Another link</a>
		</div>

	</div>
</body>
</html>