<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div class="container">
<form action="#" method="post" th:action="@{/newdog}" th:object="${dog}">
  <div class="form-group">
    <label for="name">Nom</label>
    <input class="form-control" th:field="*{name}" aria-describedby="emailHelp">
    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Le nom ne doit pas contenir d'espaces ou de caractères autre que des lettres !</small>
    <!-- <small id="emailHelp" class="form-text text-muted">Le nom ne doit pas contenir d'espaces ou de caractères autre que des lettres !</small> -->
  </div>
  <div class="form-group">
    <label for="breed">Race</label>
    <input class="form-control" th:field="*{breed}">
    <small th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}">Le nom ne doit pas contenir d'espaces ou de caractères autre que des lettres !</small>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <select class="form-control" th:field="*{age}" >
	  <option value="" selected="selected"></option>
      <option th:each="dogAge: ${ages}" th:value="${dogAge}" th:text="${dogAge}" />
    </select>
  </div>
  <div class="form-group form-check">
    <input  type="checkbox" class="form-check-input" th:field="*{owned}" >
    <label class="form-check-label" th:for="${#ids.next('owned')}">A t-il un maitre ? (Cocher si oui)</label>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter le chien !</button>
</form>
</div>
</body>
</html>